{# src/OC/PlatformBundle/Resources/views/Advert/testsnip.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="{{asset(css/style.css)}}">

  </head>
  <body>
  <div class="container">
    <div class="page-header">
      <h1>Bootstrap 3 input-spinner</h1>
      <h2>With Min & Max Values Limited</h2>
    </div>
    <div class="col-md-4">
    <div class="input-group spinner">
      <input type="text" class="form-control" value="1" min="0" max="5">
      <div class="input-group-btn-vertical">
        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
      </div>
    </div>
    <p class="help-block">Min 0 - Max 5.</p>
    </div>

      <div class="col-md-4">
    <div class="input-group spinner">
      <input type="text" class="form-control" value="42" min="40" max="45">
      <div class="input-group-btn-vertical">
        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
      </div>
    </div>
    <p class="help-block">Min 40 - Max 45.</p>
    </div>

      <div class="col-md-4">
    <div class="input-group spinner">
      <input type="text" class="form-control" value="10" min="5" max="15">
      <div class="input-group-btn-vertical">
        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
      </div>
    </div>
    <p class="help-block">Min 5 - Max 15.</p>
    </div>
    <div class="col-md-12">
    <div class="alert alert-info">
        <p>Based on the best features of this 2 snippets:</p>
        <a href="http://codepen.io/Thomas-Lebeau/pen/csHqx" target="_blank">http://codepen.io/Thomas-Lebeau/pen/csHqx</a>
        <br>
        <a href="http://bootsnipp.com/snippets/featured/bootstrap-number-spinner-on-click-hold" target="_blank">http://bootsnipp.com/snippets/featured/bootstrap-number-spinner-on-click-hold</a>
        </div>
    </div>
  </div>
  </body>
</html>
